/* 背景 */
html,body {
    height: 100% !important;
    width: 100% ;
}
body {
    padding: 0;
    margin: 0;
}
.content {
    height: 100%;
}
/* 預設(早上) */
.morning{
    background:linear-gradient(to top, #52ACFF, #FFE32C);
}
/* 下午 */
.afternoon{
    background: linear-gradient(to top, #FF2525 , #FFE53B);
}
/* 晚上 */
.night{
    background: linear-gradient(to top, #111936, #285A7B);
}