/* 圖片按鈕 */
.period_btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}

.period_btn a {
  overflow: hidden;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.period_btn span {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  margin-left: 3%;
}

.period_btn img {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
}

.period_btn:hover {
  opacity: 1 !important;
}

/* 標籤cavas樣式 */
canvas{
  position: absolute;
  top: 50%;
  left: 50%;  
  transform: translate(-50%, -50%);
  z-index: 1999;
}